<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="booksentry.html">Books Entry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="viewbooks.html">View all books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="booksearch.html">Book Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="bookdelete.html">Book Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="editbook.html">Edit Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="issuebook.html">Issue Book</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-12">
            <div class="row g-3">
                <h1 class="text-center">Books Entry</h1>
                <form>
                    <div class="row mb-3">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Book Title</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for=" " class="col-sm-2 col-form-label">Author</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" name="" id="" cols="30" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for=" " class="col-sm-2 col-form-label">Publisher</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Language:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Distributor:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Released year:</label>
                        <div class="col-sm-10">
                          <input type="date" class="form-control" id="">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Price: </label>
                        <div class="col-sm-10">
                          <input type="number" class="form-control" id="">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="" class="col-sm-2 col-form-label">Upload Book</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="file" name="" id="">
                        </div>
                      </div>
                    <button type="submit" class="btn btn-primary">Add Book</button>
                  </form>
            </div>
        </div>
    </div>
</div>
